.kiriNavbar ul li:nth-child(5) {
    list-style: none;
    border-bottom: 3px solid #fd1d1d;
    
}


main {
    max-width: 100%;
}
.bungkusArsitek {
   
}
.headerArsitek {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.kalimatHeaderArsitek {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fd1d1d;
    color: white;
    padding: 10px 20px;
    width: 100%;
    height: 35vh;
    margin-bottom: 20px;
}
.kalimatHeaderArsitek h2{ 
    font-size: 38px;
}
.filterArsitek {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 70%;  
    height: 130px;  
    padding: 20px;
    border: 1px solid #1e1e1e4b;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.formArsitek {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.formArsitek .satuArsitekUser {
    width: 17%;
    height: 110px;
    border: 0.3px solid #1e1e1e4b;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 16px;

}
.filterArsitek button {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #1e1e1e4b;
    padding: 10px 20px;
    transition: 0.3s ease;
}
.filterArsitek button:hover {
    background-color: #fd1d1d;
    border-radius: 8px;
    color: white;
}


.listArsitek {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 90%;
    margin: 0 auto;
}

.arsitekCard {
    width: 35%; 
    height: auto;
    padding: 10px;
    display: flex;
    background-color: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25) ;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    gap: 10px;
}

.dataDiriUmumAr1 h3 {
    font-size: 28px;
    font-weight: 700;
}
.dataDiriUmumAr1 p {
    font-size: 18px;
    font-weight: 400;
}
.dataDiriUmumAr p {
    font-size: 15px;
    font-weight: 380;
}

.dataDiriArsitek {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.arsitekCard img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
}

.btnditel {
    width: 90px;
    text-decoration: none;
    border: none;
    color: white;
    background-color: #fd1d1d;
    padding: 8px;
    border-radius: 6px;
}